.contactpage-info {
  margin-top: 5%;
  width: 100%;
  height: 40%;

  h1 {
    margin: 0;
    padding: 0 4%;
    width: 100%;
    height: 50%;
    font-size: 4rem;
    font-weight: bolder;
    background: linear-gradient(to right, #4fc49b, #59d9ac);
    -webkit-background-clip: text;
    background-clip: text;
    line-height: 4.5rem;
    -webkit-text-fill-color: transparent;
  }
}

.contactpage-info-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4%;
  padding-left: 4%;
  width: 100%;
  height: 50%;
  flex-direction: row;

  img {
    width: 20%;
    height: 100%;
    object-fit: contain;
    border-right: #979797 solid 1px;
  }
}

.contactpage-info-location {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 45%;
  height: 100%;
  flex-direction: row;

  img {
    margin-top: 0.5rem;
    width: 10%;
    height: 20%;
    border: 0;
    object-fit: contain;
  }

  p {
    width: 80%;
    height: 100%;
    font-size: 1rem;
    line-height: 2.5rem;
  }
}

.contactpage-info-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
  flex-direction: column;
  border-left: #979797 solid 1px;
}

.contactpage-info-contact-item {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  height: 50%;
  flex-direction: row;

  img {
    margin-top: 0.5rem;
    width: 20%;
    height: 30%;
    border: 0;
  }

  a {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    height: 100%;
    font-size: 1rem;
    color: #4d4d4d;
    line-height: 2rem;

    &:hover {
      font-weight: bolder;
    }
  }
}
