.contactpage-info {
  width: 100%;
}

.contactpage-info-title {
  margin: 0;
  padding: 50px;
  width: 100%;
  font-size: 4rem;
  font-weight: bolder;
  background: linear-gradient(to right, #4fc49b, #59d9ac);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contactpage-info-content {
  @include flex(row, space-between, center);

  padding: 0 50px;
  width: 100%;
}

.contactpage-info-right-container {
  @include flex(row, space-evenly, center);

  width: calc(100% - 150px);
}

.contactpage-info-netdb-logo {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.contactpage-info-border {
  height: 150px;
  border-right: #979797 solid 2px;
}

.contactpage-info-location {
  @include flex(row, space-evenly, space-between);

  width: 45%;
}

.contactpage-info-location-img {
  width: 25px;
  border: 0;
  object-fit: contain;
}

.contactpage-info-location-text {
  width: 80%;
  height: 100%;
}

.contactpage-info-location-text-item {
  margin: 20px 0;
  font-size: 1rem;
  color: #4d4d4d;
}

.contactpage-info-contact {
  @include flex(column, center, space-between);

  width: 40%;
}

.contactpage-info-contact-item {
  @include flex(row, space-evenly, center);

  margin: 20px 0;
  width: 100%;
}

.contactpage-info-contact-item-img {
  width: 28px;
  border: 0;
  object-fit: contain;
}

.contactpage-info-contact-item-link {
  @include flex(row, flex-start, flex-start);

  width: 80%;
  height: 100%;
  font-size: 1rem;
  color: #4d4d4d;

  &:hover {
    font-weight: bolder;
  }
}

// 840 < size
@media all and (min-width: 840px) {
}

// 480 < size <= 840
@media all and (min-width: 480px) and (max-width: 840px) {
  .contactpage-info-title {
    padding: 20px 40px;
  }

  .contactpage-info-content {
    padding: 0 40px;
  }

  .contactpage-info-netdb-logo {
    width: 120px;
    height: 120px;
    object-fit: contain;
  }

  .contactpage-info-right-container {
    @include flex(column, center, flex-start);

    width: calc(100% - 150px);
    border-left: #979797 solid 1px;
  }

  .contactpage-info-border {
    display: none;
  }

  .contactpage-info-location {
    width: 100%;
  }

  .contactpage-info-location-img {
    width: 15px;
  }

  .contactpage-info-location-text-item {
    margin: 10px 0;
  }

  .contactpage-info-contact {
    width: 100%;
  }

  .contactpage-info-contact-item-img {
    width: 17px;
  }
}

// size <= 480
@media all and (max-width: 480px) {
  .contactpage-info-title {
    padding: 10px 30px;
  }

  .contactpage-info-content {
    @include flex(column, center, flex-start);

    padding: 0 30px;
  }

  .contactpage-info-netdb-logo {
    width: 70px;
    height: 70px;
    object-fit: contain;
  }

  .contactpage-info-right-container {
    @include flex(column, center, flex-start);

    margin: 10px 0;
    width: 100%;
  }

  .contactpage-info-border {
    display: none;
  }

  .contactpage-info-location {
    @include flex(row, space-between, center);

    width: 100%;
  }

  .contactpage-info-location-img {
    width: 15px;
  }

  .contactpage-info-location-text {
    width: 90%;
  }

  .contactpage-info-location-text-item {
    margin: 10px 0;
  }

  .contactpage-info-contact {
    width: 100%;
  }

  .contactpage-info-contact-item {
    @include flex(row, space-between, center);

    width: 100%;
  }

  .contactpage-info-contact-item-img {
    width: 17px;
  }

  .contactpage-info-contact-item-link {
    width: 90%;
  }
}
