.footer-contact {
  @include flex(row, flex-end, center);

  font-size: 0.8rem;
  color: #999990;

  img {
    margin-right: 3%;
    height: 20px;
    object-fit: contain;
    object-position: right;
  }
}

.footer-contact-item {
  @include flex(row, flex-end, center);

  width: 400px;

  a {
    color: #999990;

    &:hover {
      color: #4d4d4d;
    }
  }
}

// 840 < size
@media all and (min-width: 840px) {
}

// 480 < size <= 840
@media all and (min-width: 480px) and (max-width: 840px) {
}

// size <= 480
@media all and (max-width: 480px) {
  .footer-contact {
    @include flex(column, center, flex-start);
  }

  .footer-contact-item {
    @include flex(row, flex-start, center);

    margin: 10px 0;
  }
}
