.footer-contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #999990;
  font-size: 0.8rem;

  img {
    width: 20%;
    height: 40%;
    object-fit: contain;
    object-position: right;
    margin-right: 3%;
  }
}

.footer-contact-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 43%;
  height: 50%;
}