@import './title';
@import './links';
@import './contact';

.footer-container {
  padding: 40px;
  width: 100%;
  background-color: #f7f7f7;
}

.footer-top-container {
  @include flex(row, space-between, center);

  margin-bottom: 50px;
}

// 840 < size
@media all and (min-width: 840px) {
}

// 480 < size <= 840
@media all and (min-width: 480px) and (max-width: 840px) {
  .footer-container {
    padding: 30px;
  }
}

// size <= 480
@media all and (max-width: 480px) {
  .footer-container {
    padding: 20px;
  }

  .footer-top-container {
    @include flex(column, center, flex-start);

    margin-bottom: 0;
  }
}
