.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5%;
  padding-right: 7%;
  padding-left: 7%;
  font-size: 0.8rem;
  flex-direction: row;

  a {
    color: #4d4d4d;

    &.selected {
      font-weight: bolder;
      color: #50b58e;
    }
  }
}
