.footer-title {
  grid-row-start: 1;
  grid-row-end: 3;
  padding-top: 3%;
  padding-left: 7.5%;
  // border: red solid 1px;

  img {
    width: 38%;
    height: 27%;
    object-fit: contain;
    object-position: left;
    // border: red solid 1px;
  }
}