.workpage-project-container {
  padding: 0 50px;
}

.workpage-project-category {
  font-size: 1.25rem;
  font-weight: bold;
  color: $text-grey;
}

.workpage-project {
  @include flex(row, space-between, center);

  margin: 2rem 0;
  padding: 2rem;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.05),
    0 16px 40px 0 rgba(0, 0, 0, 0.05);

  > img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 0%;
  }
}

.workpage-project-card-left-container {
  @include flex(column, space-between, flex-start);

  width: 55%;
  color: $text-default;
  align-self: flex-start;

  p {
    margin: 1rem 0 0.5rem; // top right bottom left
    width: 100%;
    font-size: 1rem;
    line-height: 1.7rem;
  }
}

.workpage-project-text-header {
  @include flex(row, flex-start, center);

  width: 100%;
}

.workpage-project-card-left-img {
  margin-right: 1rem;
  width: 60px;
  object-fit: contain;
  object-position: left;
}

.workpage-project-text-header-right {
  @include flex(column, space-evenly, flex-start);

  font-size: 1rem;
  line-height: 1.7rem;
}

.workpage-project-text-header-right-slogan {
  font-size: 0.8rem;
  font-weight: bold;
  color: $text-grey;
  line-height: 1.2rem;
}

.workpage-project-card-header-name-container {
  font-size: 1.2rem;
  font-weight: bold;
  color: $text-green;
  background: linear-gradient(to top, #4fc49b, #59d9ac);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all ease 0.2s;

  &.has-link {
    cursor: pointer;

    > a {
      text-decoration: underline;
      text-decoration-color: $text-light-green;
      text-underline-offset: 5px;
    }

    &:hover {
      transform: scale(1.03);
    }
  }
}

.workpage-project-text-footer {
  @include flex(row, flex-start, center);

  width: 100%;

  > img {
    margin-top: 1rem;
    margin-right: 1rem;
    height: 2.5rem;
    object-fit: contain;
  }
}

.workpage-project-card-right-container {
  @include flex(column, center, center);

  width: 40%;
}

.workpage-project-card-img {
  width: 100%;
  object-fit: cover;
  object-position: 0% 0%;
  border: #f1f1f1 solid 1px;
  transition: all linear 0.5s;
}

.workpage-project-card-right-link {
  @include flex(row, flex-end, center);

  width: 100%;
}

.workpage-project-card-right-link-img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.MuiButton-root.workpage-project-card-right-expand-btn {
  width: 100%;
}

div.MuiCollapse-root {
  width: 100%;
}

// 840 < size
@media all and (min-width: 840px) {
  .MuiButton-root.workpage-project-card-right-expand-btn {
    display: none;
  }

  div.MuiCollapse-root {
    display: none;
  }

  .workpage-project-card-img {
    &.outside {
      display: block;
    }
  }
}

// 480 < size <= 840
@media all and (min-width: 480px) and (max-width: 840px) {
  .workpage-project-container {
    padding: 0 40px;
  }

  .workpage-project {
    @include flex(column, center, flex-start);

    flex-direction: column-reverse;
  }

  .workpage-project-card-left-container {
    width: 100%;
  }

  .workpage-project-card-right-container {
    width: 100%;
    flex-direction: column-reverse;
  }

  .workpage-project-card-img {
    &.outside {
      display: none;
    }
  }
}

// size <= 480
@media all and (max-width: 480px) {
  .workpage-project-container {
    padding: 0 30px;
  }

  .workpage-project {
    @include flex(column, center, flex-start);

    flex-direction: column-reverse;
  }

  .workpage-project-card-left-container {
    width: 100%;
  }

  .workpage-project-card-right-container {
    width: 100%;
    flex-direction: column-reverse;
  }

  .workpage-project-card-img {
    &.outside {
      display: none;
    }
  }

  .workpage-project-card-right-link {
    margin: 0;
    margin-top: 10px;
  }

  .workpage-project-card-left-img {
    width: 40px;
  }

  .workpage-project-card-header-name-container {
    line-height: normal;
  }
}
