.workpage-year {
  @include flex(column, center, center);

  width: 100%;
}

header.MuiAppBar-root {
  width: auto;
  max-width: 100%;
}

header.MuiPaper-elevation4 {
  box-shadow: none;
}

button.MuiTab-root {
  font-size: 1.2rem;
}

div.MuiTabScrollButton-root {
  color: $text-light-green;
}

div.MuiTabScrollButton-root.Mui-disabled {
  color: #ddd;
  opacity: 1;
}

span.MuiTabs-indicator {
  background-color: $text-light-green;
}

button.MuiTab-textColorPrimary.Mui-selected {
  color: $text-green;
}

// 840 < size
@media all and (min-width: 840px) {
  .workpage-year {
    padding: 50px;
    padding-bottom: 100px;
  }
}

// 480 < size <= 840
@media all and (min-width: 480px) and (max-width: 840px) {
  .workpage-year {
    padding: 40px;
    padding-bottom: 80px;
  }
}

// size <= 480
@media all and (max-width: 480px) {
  .workpage-year {
    padding: 30px;
    padding-bottom: 60px;
  }
}
