.homepage-research-domain {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2%;

  img {
    width: 30%;
    height: 40%;
    object-fit: contain;
  }

  h3 {
    font-size: 1.5rem;
  }

  p {
    width: 85%;
    height: 40%;
    line-height: 2rem;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
  }
}
