.homepage-intro {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 1%;
  width: 100%;
  height: 140%;
}

.homepage-intro-title-container {
  display: flex;
  padding-top: 8%;
  padding-left: 3%;
  width: 20%;
  height: 90vh;
  z-index: 1;
  flex-direction: column;
}

.homepage-intro-title {
  width: 300%;
  font-size: 4rem;
  font-weight: bolder;
  background: linear-gradient(to right, #4fc49b, #59d9ac);
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 4.5rem;
  -webkit-text-fill-color: transparent;
}

.homepage-intro-subtitle {
  margin-top: 5%;
  width: 200%;
  font-size: 1.2rem;
  font-weight: bolder;
  color: #4fc49b;
  line-height: 1.7rem;
}

.homepage-intro-img {
  width: 80%;
  height: 100%;
  z-index: 0;
  object-fit: contain;
  object-position: right;
}
