.homepage-partner {
  @include flex(row, space-evenly, center);

  margin: 50px 0;
  width: 100%;
  font-size: 2rem;
  font-weight: bolder;
  color: #4d4d4d;
  flex-direction: column;
}

.homepage-partner-img-container {
  display: grid;
  padding: 30px 4rem;
  width: 100%;
  grid-template-columns: auto auto auto auto auto auto;
  row-gap: 50px;

  > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    // border: #4d4d4d solid 1px;
  }
}

// 840 < size
@media all and (min-width: 840px) {
}

// 480 < size <= 840
@media all and (min-width: 480px) and (max-width: 840px) {
  .homepage-partner-img-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

// size <= 480
@media all and (max-width: 480px) {
}
