.homepage-research {
  @include flex(row, space-between, center);

  // margin-top: 2%;
  width: 100%;
  font-size: 2rem;
  font-weight: bolder;
  color: #4d4d4d;
  flex-direction: column;
}

.homepage-research-title {
  margin-bottom: 4rem;
}

.homepage-research-domain-container {
  display: grid;
  padding: 0 4rem;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 50px;
}

// 840 < size
@media all and (min-width: 840px) {
}

// 480 < size <= 840
@media all and (min-width: 480px) and (max-width: 840px) {
  .homepage-research-domain-container {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

// size <= 480
@media all and (max-width: 480px) {
  .homepage-research-domain-container {
    padding: 0 30px;
    grid-template-columns: 1fr;
    row-gap: 25px;
  }
}
