.homepage-research {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
  width: 100%;
  font-size: 2rem;
  font-weight: bolder;
  color: #4d4d4d;
  flex-direction: column;
}

.homepage-research-title {
  margin-bottom: 60px;
}

.homepage-research-domain-container {
  display: grid;
  width: 90%;
  height: 90%;
  grid-template-columns: auto auto;
  column-gap: 30px;
  row-gap: 50px;
}
