.homepage-service {
  @include flex(row, space-between, center);

  margin-bottom: 50px;
  padding: 0 50px;
  width: 100%;

  > img {
    width: 50%;
    object-fit: contain;
  }
}

.homepage-service-text {
  @include flex(column, space-evenly, flex-start);

  width: 45%;

  > h3 {
    width: 100%;
    font-size: 2rem;
    font-weight: bolder;
    background: linear-gradient(to right, #4fc49b, #59d9ac);
    -webkit-background-clip: text;
    background-clip: text;
    line-height: 2.5rem;
    -webkit-text-fill-color: transparent;
  }

  > p {
    margin: 15px 0;
    width: 100%;
    font-size: 1rem;
    line-height: 1.8rem;
  }

  > ul {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;

    > li {
      font-size: 1rem;
      line-height: 1.8rem;
    }
  }
}

// 840 < size
@media all and (min-width: 840px) {
}

// 480 < size <= 840
@media all and (min-width: 480px) and (max-width: 840px) {
}

// size <= 480
@media all and (max-width: 480px) {
  .homepage-service {
    @include flex(column, center, center);

    margin: 0;
    padding: 0 30px;
    flex-direction: column-reverse;

    > img {
      margin: 20px 0;
      width: 80%;
    }
  }

  .homepage-service-text {
    width: 100%;
  }
}
