.MuiIconButton-root.navbar-burger {
  color: $text-green;
}

.MuiButton-root.navbar-burger-link-btn a {
  width: 100%;
  font-size: 14px;
  text-decoration: none;
  color: #4d4d4d;
  text-transform: none;
}

.MuiButton-root.navbar-burger-link-btn.selected a {
  font-weight: bolder;
  color: $text-green;
}

// 840 < size
@media all and (min-width: 840px) {
  .MuiIconButton-root.navbar-burger {
    display: none;
  }
}

// 480 < size <= 840
@media all and (min-width: 480px) and (max-width: 840px) {
  .MuiIconButton-root.navbar-burger {
    display: block;
  }
}

// size <= 480
@media all and (max-width: 480px) {
  .MuiIconButton-root.navbar-burger {
    display: block;
  }
}
