@import './title';
@import './links';

.navbar-container {
  background-color: aquamarine;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}