.navbar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 100%;
  flex-direction: row;

  a {
    color: #4d4d4d;

    &.selected {
      font-weight: bolder;
      color: #50b58e;
    }
  }
}
