.navbar-title {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 3%;

  img {
    width: 30%;
    height: 60%;
    object-fit: contain;
    object-position: left;
  }
}