.advisorpage-banner {
  @include flex(row, center, center);

  padding: 5%;
  width: 100%;
}

.advisor-page-banner-title {
  width: 60%;
  height: 100%;
  font-size: 5rem;
  font-weight: bolder;
  background: linear-gradient(to right, #4fc49b, #59d9ac);
  -webkit-background-clip: text;
  background-clip: text;
  line-height: 5.5rem;
  -webkit-text-fill-color: transparent;
}

.advisorpage-banner-img {
  width: 40%;
  height: 100%;
  object-fit: contain;
}

// 840 < size
@media all and (min-width: 840px) {
}

// 480 < size <= 840
@media all and (min-width: 480px) and (max-width: 840px) {
}

// size <= 480
@media all and (max-width: 480px) {
  .advisorpage-banner {
    @include flex(column, center, center);
  }

  .advisor-page-banner-title {
    width: 100%;
    text-align: center;
  }

  .advisorpage-banner-img {
    width: 80%;
  }
}
