.advisorpage-education {
  @include flex(column, space-between, flex-start);
  width: 100%;
  padding: 4rem 10%;
  background-color: #f7f7f7;

  > h3 {
    font-size: 2rem;
    line-height: 5rem;
    font-weight: bold;
    color: $text-default;
  }

  > section {
    width: 100%;
    margin-bottom: 1.2rem;

    > h4 {
      font-size: 1.5rem;
      line-height: 3rem;
      font-weight: bold;
      color: $text-default;
    }

    > div {
      display: flex;
      font-size: 1.1rem;
      line-height: 2.5rem;
      color: $text-default;

      > span {
        min-width: 9rem;
        color: $text-grey;
      }
    }
  }
}