.memberpage-card {
  position: relative;
  width: 100%;
  transition: all 0.3s ease-in-out;

  > img {
    width: 100%;
    object-fit: contain;
  }

  &:hover {
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transform: translateY(-5px);

    > .memberpage-card-footer {
      opacity: 0;
    }

    > .memberpage-card-hover {
      opacity: 1;
    }
  }
}

.memberpage-card-footer {
  position: absolute;
  bottom: 2px;
  left: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  color: #fff;
  background-color: rgba(#878787, 0.5);
  transition: all 0.5s ease-in-out;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.memberpage-card-footer-name {
  margin: 5px 0;
  font-size: 1.4rem;
  font-weight: bold;
}

.memberpage-card-footer-title {
  margin: 5px 0;
  font-size: 1.2rem;
}

.memberpage-card-hover {
  @include flex(row, space-between, flex-start);

  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: rgba(135, 135, 135, 0.5);
  opacity: 0;
  transition: all 0.5s ease-in-out;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);

  img {
    margin-bottom: 8px;
    width: 28px;
    height: 28px;
    transition: all 0.3s ease-in-out;
    object-fit: contain;
  }
}

.memberpage-card-hover-icons-container {
  @include flex(column, space-between, center);
}

.memberpage-card-hover-expertise-container {
  @include flex(column, flex-end, flex-start);

  width: calc(100% - 50px);
  height: 100%;
}

.memberpage-card-hover-expertise {
  margin-top: 7px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}

// 840 < size
@media all and (min-width: 840px) {
}

// 480 < size <= 840
@media all and (min-width: 480px) and (max-width: 840px) {
  .memberpage-card-hover {
    img {
      width: 24px;
      height: 24px;
    }
  }
}

// size <= 480
@media all and (max-width: 480px) {
  .memberpage-card-footer-name {
    margin: 5px 0;
    font-size: 2rem;
    font-weight: bold;
  }

  .memberpage-card-footer-title {
    margin: 5px 0;
    font-size: 1.8rem;
  }

  .memberpage-card-hover-expertise {
    margin-top: 10px;
    font-size: 2rem;
  }
}
